#contact{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    form {
        width: 90%;
        padding: 20px 30px;
        text-align: right;
        background-color: var(--gray-color, gray);
        @media only screen and (min-width: 600px) {
            width: 60%;
        }
        @media only screen and (min-width: 768px) {
            width: 40%;
        }
        #form-button{
            margin-top: 20px;
        }
    }
}